.title {
  font-size: 25px;

  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 700;

  line-height: 35px;

  @include onTablet {
    font-size: 36px;
    line-height: 40px;
  }

  // @include onDesktop {
  //   line-height: 40px;
  // }

}

.title__white {
  color: white;
  font-weight: 500;
}

.button-text {
  letter-spacing: 0.10em;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

h2 {
  font-size: 22;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 15;
}
