.title {
  font-size: 25px;
  // padding-left: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 700;
}

.title__white {
  color: white;
  font-weight: 500;
}

.button-text {
  letter-spacing: 0.10em;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

h2 {
  font-size: 22;
  font-weight: 600;
}

p {
  font-size: 15;
}
