// @import "fonts";

// @import "typography";
@import "mixins";
@import "reset";
@import "header";
@import "our-approach";
@import "projects";
@import "info-block";
@import "button";

@import "icon";
@import "form";
@import "fonts";

@import "section";
@import "cooperation";
@import "design-prices";
@import "services-and-prices.scss";
@import "social-button";
@import "offer";
@import "footer.scss";

/* #region page */
input,
textarea {
  transition: background-color 5000s ease-in-out;
  -webkit-text-fill-color: white;
}

.page {
  font-family: 'Inter', sans-serif;
  // font-size: 16px;
  line-height: 140%;
  margin: 0 auto;

  background-color: #000000;

  word-spacing: 4px;
  line-height: 1.3;

  box-sizing: border-box;

  scroll-behavior: smooth;
}

.main {
  margin: 0 auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
}


/* #endregion */
